body {
  background-color: #D3DEDC;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 20%;
  border-color: grey;
}

h1 {
  color: #35858B;
}

h2 {
  color: #35858B;
}

h3 {
  color: #35858B;
}

/* For the most important headers */
.subject {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #35858B;
}

.subject-content {
  font-family: Helvetica, sans-serif;
  text-align: left;
}

.school {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.schoolname {
  font-weight: bold;
}

.jobscope {
  font-style: italic;
}

/* Nav Bar */
/* .nav-bar {
  position: fixed;
  width: 15%;
  height: 100%;
  margin: 0;
  background: black;
}

.nav-bar > .element {
  width: 19.5%;
  line-height: 50px;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 0;
  font-family: Arial;
  text-decoration: none;
} */
