body {
  background-color: #D3DEDC;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 20%;
  border-color: grey;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Touching up so that the container is not disrupted by left and right float */
header::after {
  content: '';
  display: table;
  clear: both;
}

header {
  background: #55D6AA;
  font-family: Georgia, serif;
}



/* Move photo to the left of the header */
.photo {
  float: left;
}

/* Move NavBar to the right of the header */
nav {
  float: right;
}

/* Style for the unordered list in my NavBar */
nav ul {
  /* Remove the top margin */
  margin: 0;
  /* Remove Padding */
  padding: 0;
  /* Remove the bullet points */
  list-style: none;
}

/* For the individual list items */
nav li {
  /* Makes them go side by side */
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Decorating the hyperlink */
nav a {
  display: inline-block;
  /* Removing the underline */
  text-decoration: none;
  /* All caps */
  text-transform: uppercase;
}

h1 {
  color: #35858B;
}

h2 {
  color: #35858B;
}

h3 {
  color: #35858B;
}

/* For the most important headers */
.subject {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #35858B;
}

.subject-content {
  font-family: Helvetica, sans-serif;
  text-align: left;
}

.school {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.schoolname {
  font-weight: bold;
}

.jobscope {
  font-style: italic;
}
